.box{
    margin: 50px;
    width: 100px;
    height: 100px;
}


/* Boks 1 */

.box1{
    width:100px;
    background-color: lightgreen;
    /* transition: all 2s linear; */
}

.animate1{
    animation: test 5s;
}

@keyframes test {
    5% {letter-spacing:0.3em; background-color: lime;}
    10% {letter-spacing:100; transform: translateX(200px);}
}

/* Boks 2 */

.box2{
    background-color: lightpink;
}

.animate2{
    animation: test2 100s;
}

@keyframes test {
    5% {transform: translateX(200px);}
    10% {transform: translate(200px,60px);}
    15% {transform: translate(180px, 200px);}
    20% {transform: rotate(5deg) scale(2);}
    24% {transform: rotate(-5deg) scale(2);}
    28% {transform: rotate(5deg) scale(2);}
    32% {transform: rotate(-5deg) scale(2);}
    36% {transform: rotate(5deg);}
    40% {transform: translate(10000px, 200px);}
    51% {transform: translate(10000px, -500px);}
    52% {transform: translate(-500px, -500px);}
    53% {transform: translate(-500px, 100px);}
}

/* Boks 3 */

/* .box3{
    background-color: lightblue;
    transition: all 3s;
} */

/* .animate3{ */
    /* margin-left: 400px; */
    /* transform: rotate3d(1,1,1,90deg); */
    /* transform: rotate(1800deg);
    width: 0px;
    height: 0px; */
    /* transform: ; */
/* } */

/* Knapp */

button{
    margin: 50px;
}

