.form-container{
    background-color: gray;
    max-width: 350px;
    min-width: 180px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.input-container{
    display: grid;
    grid: auto / 2fr 3fr;
    padding: 0.5em 0;
}

.input-field{
    background-color: #cccccc;
    border: solid 1px black;
    border-radius: 5px;
}

hr {
    color: white;
}

button {
    background-color:#5a6937;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.button-container{
    display: grid;
    justify-content: right;
    padding-top: 0.5em;
}