body {
    background-color: #DDD;
    text-align: center;
}

header{
    background-color: black;
    color: white;
    padding: 0.5rem;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

ul{
    list-style: none;
}

img{
    max-width: 300px;
}