body{
    background-image: url('https://www.holidayclubresorts.com/globalassets/destinations/saariselka/offers/special-offers/norway-pre-christmas-party-in-saariselka/gallery/pre-christmas-party-headerbanner-fullsize.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    color: rgb(247, 239, 218);
    font-family: 'Muli', sans-serif;
}

article {
    background: linear-gradient(to right, rgba(20,20,20,0.9), rgba(0,0,0,0));
    margin: 0;
    height: 100vh;
    display:grid;
    grid-template-rows: 5vh 80vh 10vh;
    grid-template-columns: 5% 6fr 8fr;
}

#content{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

section {
    padding: 1rem;
}